1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [30]:
for i in range(1,101):
    if (i % 3 == 0 and i % 5 == 0):
        i ='MickeyMouse'
    elif i % 3 == 0:
        i='micky'
    elif i % 5 == 0:
        i = 'mouse'
    print(i)

1
2
micky
4
mouse
micky
7
8
micky
mouse
11
micky
13
14
MickeyMouse
16
17
micky
19
mouse
micky
22
23
micky
mouse
26
micky
28
29
MickeyMouse
31
32
micky
34
mouse
micky
37
38
micky
mouse
41
micky
43
44
MickeyMouse
46
47
micky
49
mouse
micky
52
53
micky
mouse
56
micky
58
59
MickeyMouse
61
62
micky
64
mouse
micky
67
68
micky
mouse
71
micky
73
74
MickeyMouse
76
77
micky
79
mouse
micky
82
83
micky
mouse
86
micky
88
89
MickeyMouse
91
92
micky
94
mouse
micky
97
98
micky
mouse

In [140]:
for i in range(1,101):
    if (i % 3 == 0 and i % 5 == 0):
        i ='(DonaldDuck)'
    elif i % 3 == 0:
        i='(Donald)'
    elif i % 5 == 0:
        i = '(duck)'
    print(i)

1
2
(Donald)
4
(duck)
(Donald)
7
8
(Donald)
(duck)
11
(Donald)
13
14
(DonaldDuck)
16
17
(Donald)
19
(duck)
(Donald)
22
23
(Donald)
(duck)
26
(Donald)
28
29
(DonaldDuck)
31
32
(Donald)
34
(duck)
(Donald)
37
38
(Donald)
(duck)
41
(Donald)
43
44
(DonaldDuck)
46
47
(Donald)
49
(duck)
(Donald)
52
53
(Donald)
(duck)
56
(Donald)
58
59
(DonaldDuck)
61
62
(Donald)
64
(duck)
(Donald)
67
68
(Donald)
(duck)
71
(Donald)
73
74
(DonaldDuck)
76
77
(Donald)
79
(duck)
(Donald)
82
83
(Donald)
(duck)
86
(Donald)
88
89
(DonaldDuck)
91
92
(Donald)
94
(duck)
(Donald)
97
98
(Donald)
(duck)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [33]:
def swap(x,y):
    
    return y,x

In [38]:
swap(0.005,8)

(8, 0.005)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [50]:
def EUC(x,y):
    import math
    distance = math.sqrt(sum([(abs(a - b)) ** 2 for a, b in zip(x, y)]))
    return distance

In [53]:
EUC(x= (3,1,0), y=(4,0,5))

5.196152422706632

In [55]:
for i in 'word':
    print i

w
o
r
d

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [64]:
def count(x):
    
    return len(x)

In [65]:
count('Hello')

5

In [67]:
def freq_count(test):
    all_freq = {} 
  
    for i in test:
        if i in all_freq: 
            all_freq[i] += 1
        else: 
            all_freq[i] = 1
    return all_freq

In [70]:
freq_count('isnt this a great day')

{' ': 4,
 'a': 3,
 'd': 1,
 'e': 1,
 'g': 1,
 'h': 1,
 'i': 2,
 'n': 1,
 'r': 1,
 's': 2,
 't': 3,
 'y': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [115]:
import collections
def unique(arr):
    unique_list = [] 
    for x in arr : 
        if (x not in unique_list and arr.count(x) == 1):
            unique_list.append(x)
    return unique_list

In [120]:
l = [0.4,9,8,7,5,4,7,5,6,3,77,4,5,5,5,5,9]

In [122]:
unique(l)

[0.4, 8, 6, 3, 77]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [126]:
def sq(x):
    return x**2
def cube(x):
    return x**3
def six(x):
    return sq(cube(x))

In [129]:
six(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [132]:
cubes = []
for i in range(0,11):
    x = cube(i)
    cubes.append(x)

    
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [134]:
cubess = [i**3 for i in range(0,11)]
print(cubess)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [135]:
import math
def pythagorean_triplet(n):
    for b in range(n):
        for a in range(1, b):
            c = math.sqrt( a * a + b * b)
            if c % 1 == 0:
                print(a, b, int(c))
            
pythagorean_triplet(100)

(3, 4, 5)
(6, 8, 10)
(5, 12, 13)
(9, 12, 15)
(8, 15, 17)
(12, 16, 20)
(15, 20, 25)
(20, 21, 29)
(7, 24, 25)
(10, 24, 26)
(18, 24, 30)
(21, 28, 35)
(16, 30, 34)
(24, 32, 40)
(12, 35, 37)
(15, 36, 39)
(27, 36, 45)
(9, 40, 41)
(30, 40, 50)
(40, 42, 58)
(33, 44, 55)
(24, 45, 51)
(28, 45, 53)
(14, 48, 50)
(20, 48, 52)
(36, 48, 60)
(39, 52, 65)
(48, 55, 73)
(33, 56, 65)
(42, 56, 70)
(11, 60, 61)
(25, 60, 65)
(32, 60, 68)
(45, 60, 75)
(16, 63, 65)
(60, 63, 87)
(48, 64, 80)
(51, 68, 85)
(24, 70, 74)
(21, 72, 75)
(30, 72, 78)
(54, 72, 90)
(65, 72, 97)
(40, 75, 85)
(57, 76, 95)
(36, 77, 85)
(18, 80, 82)
(39, 80, 89)
(60, 80, 100)
(13, 84, 85)
(35, 84, 91)
(63, 84, 105)
(80, 84, 116)
(66, 88, 110)
(48, 90, 102)
(56, 90, 106)
(60, 91, 109)
(69, 92, 115)
(28, 96, 100)
(40, 96, 104)
(72, 96, 120)
(20, 99, 101)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [136]:
def norm(x):
    return [float(i)/sum(x) for i in x]

In [139]:
norm((2,3,7,8,6,5))

[0.06451612903225806,
 0.0967741935483871,
 0.22580645161290322,
 0.25806451612903225,
 0.1935483870967742,
 0.16129032258064516]